<form 
  action="" class="login-form" 
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  >
  <div class="logo-block">
    <div class="logo login_page_logo">Tik-Talk</div>
  </div>
  <h1>Вход</h1>
  <label class="tt-control-label">
    Telegram username
    <input class="tt-input" type="text" placeholder="Введите логин" formControlName="username">
  </label>
  <label class="tt-control-label">
    Password

    <input class="tt-input"
      [type]="showPassword ? 'text' : 'password'" 
      formControlName="password"
      placeholder="Введите пароль" 
    />
    <span class="material-icons" (click)="togglePasswordVisibility()">
      {{ showPassword ? 'visibility_off' : 'visibility' }}
    </span>
  </label>
  <div class="btn-box">
    <button type="submit" class="btn login-btn">Войти</button>
  </div>
</form>