

:root{
	--black: #000000;
	--white:white ;
	--primary:rgb(163, 70, 184);
}

body{	
	color:var(--white);
	background: linear-gradient(43deg, #000000, #3d097f); //+ находится в layout
	margin: 0;
}
.logo{
	font-family: "Akaya Kanadaka", system-ui;
  font-weight: 700;
  font-style: normal;
	user-select: none; /* Стандартное свойство */
  -webkit-user-select: none; /* Для Safari */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для старых версий IE/Edge */

}
.scill-tag{
	padding: 4px 8px;
	border-radius: 4px;
	border:1px solid var(--white);
	display: inline;
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
}
.btn{
	border:none;
	background-color: var(--primary);
	color: var(--black);
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	width: 95px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	transition: transform .5s ease;
	user-select: none;
}
.btn:hover{
	transform: scale(1.15);

}
.tt-control-label{
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;

}
.tt-input{
	margin-bottom: 15px;
	margin-top: 8px;
	color: var(--white);
	padding: 12px 20px ;
	display: block;
	border: 1px solid var(--white);
	border-radius: 4px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	background-color: var(--black);

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
